@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {
        padding: 0 2%;    
    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {
        padding: 0 2%;    
    }
    
    body {
        font-size: 18px;
    }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box {
        margin-top: 10px;
    }
    
    .work-steps {
        margin-bottom: 40px;
    }
    
    .app-screen {
        width: 50%;
    }
    
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature {
        font-size: 90%;
    }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }
    
    .contact-form {
        width: 80%; 
    }
    
    .city-features a {
        font-size: 16px;
    }
    
    footer {
        font-size: 12.5px;
    }
    
    .meal-photo img {
        transform: scale(1.40);
    }
    
    .meal-photo img:hover {
        transform: scale(1.30);
    }
    
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    body {
        font-size: 16px;
    }
    
    section {
        padding: 30px 0;
    }
    
    row,
    hero-text-box {
        padding: 0 4%;
    }
    
    .col {
        width: 100%;
    }
    
    .main-nav {
        display: none;
    }
    
    header {
        text-align: center;
    }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    h1 {
        font-size: 180%;
    }
    
    h1 {
        font-size: 150%;
    }
    
    .app-screen {
        width: 40%;
    }
    
    .steps-box:first-child {
        text-align: center;
    }
    
    .works-step div {
        margin-top: -2%;
        height: 40px;
        width: 40px;
    }
    
    .meal-photo img {
        transform: scale(1.40);
    }
    
    .meal-photo img:hover {
        transform: scale(1.30);
    }    
    
    .contact-form {
        width: 70%;
    }
    
    .section-features {
        text-align: center;
    }
    
    .section-cities {
        margin: 0 2% 0 2%;
    }
    
    .footer-nav {
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .social-links {
        width: 100%;
        text-align: center;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    body {
        font-size: 16px;
    }
    
    section {
        padding: 30px 0;
    }
    
    row,
    hero-text-box {
        padding: 0 4%;
    }
    
    .col {
        width: 100%;
    }
    
    .main-nav {
        display: none;
    }
    
    header {
        text-align: center;
    }
    
    .long-copy {
        width: 100%;
    }
    
    h1 {
        font-size: 180%;
    }
    
    h1 {
        font-size: 150%;
    }
    
    .app-screen {
        width: 40%;
    }
    
    .steps-box:first-child {
        text-align: center;
    }
    
    .works-step div {
        margin-top: -2%;
        height: 40px;
        width: 40px;
    }
    
    .works-step p {
        margin-left: 20%;
    }
    
    .meal-photo img {
        transform: scale(1.40);
    }
    
    .meal-photo img:hover {
        transform: scale(1.30);
    }    
    
    .contact-form {
        width: 70%;
    }
    
    .section-features {
        text-align: center;
    }
    
    .section-cities {
        margin: 0 2% 0 2%;
    }
    
    .footer-nav li {
        width: 100%;
        text-align: center;
        padding: 5% 0 5% 0;
        font-size: 18px;
    }
    
    .social-links {
        padding: 5% 0 0 0;
        width: 100%;
        text-align: center;
    }
    
    label,
    input,
    select,
    textarea {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    textarea {
        margin-bottom: 0%;
    }
    
    input[type=submit] {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    
    .hero-text-box a {
        margin-bottom: 5%;
    }
    
    .section-features p {
        margin: 0 1% 0 1%;
    }

    .btn-app {
        text-align: center;
        display: block;
    }
}